* {
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #353535;
  max-width: 100%;
  min-height: 100%;
}
#header,
#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header,
#navbar {
  position: absolute;
  top: 0;
  left: 0;
}
#header {
  height: 10vh;
  font-size: calc(7px + 2vmin);
  background: #3c6e71;
  color: #d9d9d9;
}
#footer {
  height: 5vh;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: calc(1px + 2vmin);
  background: #284b63;
  color: #d9d9d9;
}
#footer:hover {
  color: white;
}
#navbar {
  height: 5vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  background: #284b63;
  font-size: calc(3px + 2vmin);
  color: #282e63;
}
.nav-links {
  width: 40vw;
  display: flex;
  justify-self: right;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-link,
.nav-link:visited {
  color: #d9d9d9;
  text-decoration: none;
}
.nav-link:hover {
  color: #3c6e71;
}
.store-component {
  margin-top: 15vh;
  margin-bottom: 6vh;
}
.shop-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  min-width: 250px;
  height: 30vh;
  min-height: 250px;
}
#shop-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.letter-disp {
  font-size: calc(30px + 2vmin);
  margin-top: 5%;
  margin-bottom: 1%;
}
.cart-item {
  border: 2px solid black;
}
.cart-letter {
  font-size: calc(40px + 2vmin);
  color: #284b63;
}
#to-top,
#to-top:visited {
  grid-column: span 3;
  color: #284b63;
  text-decoration: none;
  text-align: right;
}
#to-top:hover {
  color: #282e63;
}
.increase-button, .decrease-button, .delete-button  {
  border: none;
  display: inline-block;
  text-decoration: none;
  background: rgba(255, 0, 0, 0.75);
  color: white;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: .4s;
}
.increase-button, .decrease-button {
  background: #282e63;
}
.increase-button:hover, .decrease-button:hover {
  background: #1f119c;
}
.delete-button:hover{
  background: rgb(255, 0, 0);
}
