* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #353535;
  max-width: 100%;
  min-height: 100%;
}
#header,
#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header,
#navbar {
  position: absolute;
  top: 0;
  left: 0;
}
#header {
  height: 10vh;
  font-size: calc(7px + 2vmin);
  background-color: #3c6e71;
  color: #d9d9d9;
}
#footer {
  height: 5vh;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: calc(1px + 2vmin);
  background-color: #284b63;
  color: #d9d9d9;
}
#navbar {
  height: 5vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  background-color: #284b63;
  color: #d9d9d9;
  font-size: calc(3px + 2vmin);
}
.nav-links {
  width: 40vw;
  display: flex;
  justify-self: right;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.store-component {
  margin-top: 15vh;
  margin-bottom: 6vh;
}
.shop-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  min-width: 250px;
  height: 30vh;
  min-height: 250px;
}
#shop-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.letter-disp {
  font-size: calc(30px + 2vmin);
  margin-top: 5%;
  margin-bottom: 8%;
}
.cart-item {
  border: 2px solid black;
}
